<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dataMapper">

    <insert id="insertData" parameterType="HashMap">
        insert ${dbname}.${tablename}
        (
        <foreach item="item" index="index" collection="result1" separator=",">
            ${item.name}
        </foreach>
        , reg_date
        )
        VALUES
        (
        <foreach item="item" index="index" collection="result1" separator=",">
            #{item.val}
        </foreach>
        , NOW()
        )
        ON DUPLICATE KEY UPDATE
        <foreach item="item" index="index" collection="result2" separator=",">
            ${item.name} = #{item.val}
        </foreach>
    </insert>
</mapper>